.operationicon{

    margin:7px;

}

.select2-container--classic .select2-results__option--highlighted[aria-selected]
{
    color: #0A0A0A;
}

.multiselect-container>li label{
    font-size: 16px;
    color: #0A0A0A;
}
.multiselect-container>li input[type="checkbox"] {
    position: static;
    visibility: visible;
}